.djs-palette{
    top: 0;
    left: 0;
}


// 设置工具栏一列(bpmn.js内部工具栏布局是响应式的,当分辨率太小时会出现两列的情况)
.djs-palette.two-column.open{
    width: 48px;
}

.bpmn-viewer-header{
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    text-align: left;
    line-height: 50px!important;
    height: 50px !important;

    .iconfont {
        font-size: 14px;
    }
}

.bpmn-viewer-container{
    padding: 10px !important;
}

.canvas{
    width: 100%;
    height: 700px;
}

// 设置bpmn.js背景颜色
.djs-container svg, .djs-drag-active.hover.new-parent {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTTAgMTBoNDBNMTAgMHY0ME0wIDIwaDQwTTIwIDB2NDBNMCAzMGg0ME0zMCAwdjQwIiBmaWxsPSJub25lIiBzdHJva2U9IiNlMGUwZTAiIG9wYWNpdHk9Ii4yIi8+PHBhdGggZD0iTTQwIDBIMHY0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+) repeat!important;
}

.el-table thead tr, .el-table thead tr th{
    background-color: #f6f7fa;
    font-weight: 400;
}
